doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Role Verification Success
    include _verifyStyle
.verification-container
    h1 role Verification Successful
    p
        | Your role has been verified successfully. You can now write Articles.
